body {
    font-size: 16px;
    font-family: 'Rubik';
    background-color: $base-bg;
    background-image: url("/img/background.png");
    background-size:  contain;
    background-repeat: repeat-x;
    background-position: bottom;
}
.k-grid {
    font-size:2em;
}
.k-grid-header {
    background-color: #6eb641;
    color: $base-bg;
    border-bottom-width: 10px;
    border-bottom-color: $base-bg;
}
.k-grid table tbody tr:nth-of-type(1) {
    color: white;
    background-color: $accent;
    font-size: 1.5em;
}
.k-grid table tbody tr:nth-of-type(2) {
    color: white;
    background-color: lighten($accent, 12);
    font-size: 1.2em;
}
.k-grid table tbody tr:nth-of-type(3) {
    color: white;
    background-color: lighten($accent, 22);
}

section {
    @include row;
}

.header {
    text-align:center;
}

.side {
    @include column($one-quarter);
}
.t-logo {
    padding-bottom: 24px;
}

#grid {
    margin-bottom:24px;
}