body {
    font-size: 16px;
    font-family: 'Rubik';
    background-color: $base-bg;
    background-image: url("/img/background.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}

.k-grid {
    font-size: 2em;
}

.k-grid-header {
    background-color: #6eb641;
    color: $base-bg;
    border-bottom-width: 10px;
    border-bottom-color: $base-bg;
}

.k-grid  {
    & tr.rank-1 {
        color: white;
        background-color: $accent;
        font-size: 1.5em;
    }

    & tr.rank-2 {
        color: white;
        background-color: lighten($accent, 12);
        font-size: 1.2em;
    }

    & tr.rank-3 {
        color: white;
        background-color: lighten($accent, 22);
    }
}

td.rank {
    text-align: center;
}

.header {
    text-align: center;
}

.t-logo {
    padding-bottom: 24px;
}

#grid {
    margin-bottom: 24px;
}

.kendoka {
    background-image: url("/img/kendoka.png");
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.ninja {
    margin-left: -155px;
}
